<div>
  <div *ngFor="let c of congruencies" >
      <input [(ngModel)]="c.value" type="number" placeholder="value"
      (keyup.enter)="addCongruency()">
      <input [(ngModel)]="c.modulus" type="number" placeholder="modulus"
      (keyup.enter)="addCongruency()">
      <button (click)="removeCongruency(c)">Remove</button>
  </div>
  <button (click)="addCongruency()">Add</button>
  <hr>
  <button (click)="calculate()">Calculate</button>
  <div *ngFor="let c of congruencies">
    <span *ngIf="c.value && c.modulus">{{ c.value }} mod {{ c.modulus }}</span>
  </div>
  <hr>
  <div *ngIf="calculation">Congruent to {{ calculation.result }} mod {{ calculation.modulus }}</div>
  <div *ngIf="calculation === false">No answer posible</div>
</div>
